.image{
	
    width:90px;
    height:80px;
    border: none;
}
.navbar li  {
    text-decoration: none;
    color: #fff;
    
}


.navbar img {
    max-width: 100px; 
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px; 
}


.navbar ul li a {
    color: #fff; 
    padding: 5px 20px;
    border: 1px solid transparent;
    transition:0.5 ease;
}

ul li a:hover{
	background-color:white;
	color: black;
}
.navbar{
    background-color:blue;
}
.text-block {
    color: white;
    bottom: 120px;
    padding: 20px;
    margin:5px;
    box-shadow: 0 0 5px 0 ; 
        background: inherit; 
    backdrop-filter: blur(10px);
  }
  .box{
    background-color:brown;
    border:1px solid white;
		padding: 10px 5px;
		width: 100%;
}
h1,p{
    color: aliceblue;
}